main {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Header */
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color);
  padding: 0 24px 0 24px;
  overflow: hidden;
  position: relative;
}

.nav-items {
  display: none;
}

.fa-bars {
  color: var(--primary-color);
}
/* End of header */

/* Welcome section */

.welcome-section {
  column-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: var(--bg-color);
  padding: 24px 10rem 24px 10rem;
  height: 70vh;
  width: 100vw;
}

.freelancer-article {
  justify-self: baseline;
  grid-column: 1 /2;
  grid-row: 2 / 2;
}

.ui-designer-article {
  justify-self: baseline;
  grid-column: 1 / 3;
  grid-row: 2 / 2;
}

/* End of welcome section */

/*
    Skills section
*/
.skills-section {
  column-gap: 300px;
  row-gap: 24px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: var(--bg2-color);
  padding: 86px 10rem 24px 10rem;
  height: 40vh;
  width: 100vw;
}

/* End of skills section */

/* Porjects section */
.projects-section {
  column-gap: 120px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: var(--bg-color);
  padding: 160px 0px 160px 130px;
  height: 100vh;
}

.project-item {
  margin: 0 24px 0 0;
}

/* End of projects section */
