main {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color);
  padding: 0 24px 0 24px;
  overflow: hidden;
  position: relative;
}

.nav-items {
  display: none;
  background-color: var(--bg2-color);
  padding: 12px 24px 12px 24px;
}

.nav-items:nth-child(odd) {
  margin-top: 12px;
}

.fa-bars {
  color: var(--primary-color);
}
/* End of header */

/* Welcome section */

.welcome-section {
  column-gap: 10px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  background-color: var(--bg-color);
  padding: 24px;
  justify-content: center;
  width: 100vw;
}

.freelancer-article {
  justify-self: baseline;
}

.ui-designer-article {
  justify-self: baseline;
}

.salvador-image {
  width: 80vw;
}

/* End of welcome section */

/*
    Skills section
*/
.skills-section {
  row-gap: 24px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: var(--bg2-color);
  padding: 24px;
  width: 100vw;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
}

/* End of skills section */

/* Porjects section */
.projects-section {
  row-gap: 64px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: var(--bg-color);
  padding: 24px;
}

.projects-container {
  row-gap: 24px;
  justify-content: center;
  align-content: center;
}

.project-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-image {
  width: 50vw;
  resize: contain;
}

/* End of projects section */

/* Clients section */

.clients-section {
  row-gap: 24px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: var(--bg2-color);
  padding: 32px;
  grid-auto-flow: row;
}

/* End of clients section */

/* Faq section */

.faq-section {
  row-gap: 32px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: var(--bg-color);
  padding: 24px;
  grid-auto-flow: row;
  align-content: center;
}

.faq-image {
  width: 70vw;
  resize: contain;
}

/* End of faq section */

/* Contact section */

.contact-section {
  z-index: -1;
  row-gap: 32px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: var(--bg2-color);
  padding: 24px;
  grid-auto-flow: row;
  align-content: center;
}

.custom-button {
  margin-top: 6px;
}

/* End of Contact section */
